html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.el-header {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    line-height: 60px;
    padding-bottom: 0px;
}

#table.el-main {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    height: 100%;
    padding-top: 0px;
    overflow: hidden;
}

#app{
    height: 100%;
}

#app .el-container {
    /*margin-bottom: 40px;*/
    height: 100%;
}

#editorDialog .el-dialog__body{
    padding-top: 5px;
}



